.gioi_thieu {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
}

.gioi_thieu .bai_viet {
  width: 800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


